*{
  box-sizing: border-box;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul{
  display: flex;
  list-style: none;
}

.navbar_select_city input, .navbar_select_city button{
  height: 50px;
}

.navbar_select_city button{
  border: 1px solid black;
}

.navbar_select_city{
  display: flex;
  align-items: center;
}

.find_items input,.find_items button{
  height: 50px;
}

.find_items{
  align-items: center;
  display: flex;
}


.home_about{
  display: flex;
  gap: 20px;
}